#WebAnnotator_button {
	list-style-image: url("chrome://webannotator/skin/wa_small_activated.png");
}

#WebAnnotator_titleButton {
    list-style-image: url("chrome://webannotator/skin/wa_small_title.png");
}

#WebAnnotator_saveasButton {
    list-style-image: url("chrome://webannotator/skin/wa_small_s.png");
}

#WebAnnotator_startAnnotationButton {
    list-style-image: url("chrome://webannotator/skin/wa_small_a.png");
}


